{{ partial "header" . }}

<main>
  <div class="container">
    <div class="left">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>

    </div>

    <div class="right">

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies imperdiet euismod. Proin id eleifend lorem. Nulla quis cursus quam. Sed semper viverra nisl, in lacinia felis sagittis ut. Suspendisse porta congue enim non facilisis. Curabitur pellentesque et quam eu dignissim. Sed vitae lobortis est, sit amet lacinia nisl. Phasellus molestie a nisl a dictum. Duis id ligula sed neque eleifend cursus ut at orci. Vestibulum faucibus tellus nec tincidunt aliquam. Suspendisse et lacus eu nisl faucibus vestibulum quis ac neque. Maecenas elementum turpis sed sodales condimentum. Aenean vel consectetur felis.</p>

      {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}

    </div>
  </div>
</main>

{{ partial "footer" . }}
